@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: miamaFont;
  src: url("../fonts/Miama.ttf");
}
.main-font-grp {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: white;
  }
*{
    margin: 0;
    font-family: Inter;
  }
body{
    background-color: black;
  }
.primary-colour{
    color: rgb(230, 83, 60);
  }
  .container{
    width: 73.6%;
    margin: 0 auto;
  }
.btn-first{
    margin-right: 14px;
    padding: 16px 40px;
    border-radius: 42px;
    color: white;
    font-size: 18px;
    background-color: rgb(230, 83, 60);
    cursor: pointer;
    border: none;
  }
.btn-second{
    padding: 15px 39px;
    border-radius: 42px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
.section-dist{
    margin-bottom: 100px;
  }
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }  
.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 32px;
  }
.n-logo{
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
  }
  .n-menu ul li{
    display: inline-block;
    margin-left: 47px;
    list-style: none;
  }
  .n-menu ul li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    
  }
  .n-ham{
    display: none;
  }
.home{
    background-color:rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
}
.b-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.b-written{
    width: 37.5rem;
    padding-right: 4.81rem;
  }
.b-title{
    font-size: 4.875rem;
    font-weight: 900;
    text-align: left;
    line-height: 5rem;
  }
.b-span{
    font-family: miamaFont;
    color: rgb(255, 255, 255);
    font-size: 9rem;
    font-weight:400;
}
.banner-des{
    margin: 28px 0;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
  }
  .b-btn-2{
    display: none;
  }
.b-cart-1{
    position: absolute;
    width: 12rem;
    padding: 16px 0px 16px 24px;
    top : 33%;
    right : 8%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
  }
.b-cart-title{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
  }
.b-cart-des{
    font-size: .812rem;
    color: rgba(255, 255, 255, 0.65);
  }
.b-cart-2{
    position: absolute;
    width: 12.87rem;
    padding: 20px 23px;
    top: 67%;
    right: 28%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, -0.54);
  }
  .b-cart2-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .b-cart2-circle{
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
  }
  .b-cart-title-2{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 8px;
  }
  .b-cart-des2{
    color: rgba(239, 237, 232, 0.65);
  }

.common-h1{
    width: 60%;
    margin: 0 auto 58px;
    text-align: center;
  }
.common-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
.common-des{
    color: rgba(255, 255, 255, 0.5);
  }
.cards-cont{
    display: flex;
    justify-content: space-between;
  }
.c-img{
    margin-bottom: 30px;
    text-align: center;
  }
.c-img img{
    border-radius: 50%;
    border: 1px solid white;
  }
.c-text{
    text-align: center;
  }
.c-title{
    margin-bottom: 6px;
    font-size: 1.125rem;
    font-weight: 600;
  }
.c-des{
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.5);
  }
.run-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
  }
.run-heading{
    width: 43%;
    margin: 40px 0 40px 54px;
    text-align: left;
  }
.run-title{
    padding-right: 140px;
  }
.run-des{
    margin-bottom: 34px;
    margin-right: 10px;
  }
.btn-large{
    width: 224px;
  }
.run-img{
    margin: 30px 32px 30px 0;
    width: 366px;
    height: 300px;
    
  }
.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
   } 
.gym-card-cont{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
.gym-card{
    width: 30%;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34);
  }
.gym-card-title{
    font-size: 2rem;
    margin-bottom: 16px;
  }
.gym-card-des{
    color: rgba(255, 255, 255, 0.5);
  }
.bmi{
    background-color: rgb(34, 34, 34);
  }
.bmi-cont{
    padding: 50px 0 50px;
  }
.bmi-title{
    text-align: start;
  }
.bmi-des{
    text-align: start;
  }
.bmi-main-cont{
    display: flex;
    justify-content: space-between;
  }
.bmi-chart-cont{
    width: 40%;
  }
  .bmi-chart-title{
    font-size: 1.75rem;
  }
  .bmi-chart-table{
    margin-top: 50px;
    text-align: left;
    border-collapse: collapse;
  }
  .bmi-chart-table th,td{
    padding: 15px 20px 15px 18px;
  }
  .bmi-chart-table,td,th{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .bmi-chart-table td{
    color: rgba(255, 255, 255, 0.5);
  }
.calcu-bmi{
    width: 50%;
  }
.calcu-bmi-des{
    margin-top: 14px;
    margin-bottom: 35px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
  }
.bmi-form{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px;
  }
.bmi-form input, select{
    padding: 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }
.btn-bmi{
    margin-top: 35px;
    min-width: 40%;
  }
#activity{
    width: 205.5%;
}